---
name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  build:
    name: Test build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Test build
        uses: home-assistant/builder@master
        with:
          args: |
            --test \
            --amd64 --aarch64 \
            --target headscale \
            --docker-hub ghcr.io/${{ github.repository_owner }}
