---
name: Deploy

on:
  push:
    branches:
      - main
  release:
    types:
      - published

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    name: Build and publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: home-assistant/builder@master
        with:
          args: |
            --amd64 --aarch64 \
            --target headscale \
            --docker-hub ghcr.io/${{ github.repository_owner }}
